th {
    text-align: center;    
    border-style: double; 
}

td {
    text-align: center;   
    border-style: double;  
}

tr {
    border-style: double;  
}

.btn-primary {
    margin-right: 10px;
}