<div class="container">
  <table class="table">
    <thead class="table-primary">
      <tr>
          <th>Name</th>
          <th>Population</th>
          <th>Operations</th>
        </tr>
    </thead>
    <tr *ngFor = "let country of countries">
        <td>
            {{ country.name }}
        </td>
        <td>
            {{ country.population }}
        </td>
        <td center-block>
            <a class="btn btn-primary" routerLink="/countries/edit/{{ country.id }}">Edit</a>
            <a class="btn btn-danger" routerLink="/countries/remove/{{ country.id }}">Remove</a>
        </td>
    </tr>
  </table>
</div>
