<form (ngSubmit)="onSubmit(countryForm);" #contactForm="ngForm">
    <input matInput placeholder="Name" #nombre maxlength="80" [(ngModel)]="Country.name" name="Name" required>
    <input matInput placeholder="Population" [(ngModel)]="Country.population" name="Population" required>
    <button  [disabled]="!contactForm.form.valid">Enviar</button>
 </form>